<?xml version='1.0' encoding='utf-8'?>
<widget id="com.simonvansuyt.binready" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BinReady</name>
    <description>
        It is a stop watch baset op on the binary clock
    </description>
    <author email="simon.vansuyt@me.com" href="http://twitter.com/simonvansuyt">
        Simon Vansuyt
    </author>
    
    <!-- de preference -->
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="BackgroundColor" value="#185988"/>

    <!-- ios preference -->
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#185988" />
    <preference name="StatusBarStyle" value="lightcontent" />

    <!-- android preference -->
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="android-minSdkVersion" value="15" />
    <preference name="android-installLocation" value="auto" />

    <!-- de plugin -->
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" />
    <gap:plugin name="org.apache.cordova.statusbar" />

	<!-- sharing ios -->
	<feature name="SocialSharing">
		<param name="ios-package" value="SocialSharing" />
	</feature>

	<!-- for Android -->
	<feature name="SocialSharing">
		<param name="android-package" value="nl.xservices.plugins.SocialSharing" />
	</feature>
    
    <!-- de icon -->
    <icon src="icon.png" />
    <platform name="ios">
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icon-60.png" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        
        <!-- iPad -->
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
        
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="res/ios/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
        
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/icon.png" width="57" height="57" />
        <icon src="res/ios/icon@2x.png" width="114" height="114" />
        
        <!-- iPad -->
        <icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
        
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/icon-small.png" width="29" height="29" />
        <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
        
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/ios/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icon-50@2x.png" width="100" height="100" />
    </platform>
    <platform name="android">
              <icon src="www/res/android/icon/ldpi.png" density="ldpi" />
              <icon src="www/res/android/icon/mdpi.png" density="mdpi" />
              <icon src="www/res/android/icon/hdpi.png" density="hdpi" />
              <icon src="www/res/android/icon/xhdpi.png" density="xhdpi" />
    </platform>
    
    <access origin="*" />
</widget>
